<div class="part">
  <h2 class="part-title">常见自动消失的弹框</h2>
  <div class="part-demo">

    <div class="part-dom-alert">
      <div class="gf-alert-container">
        <div class="gf-alert">
          <div class="gf-alert-content">
            <i class="icon-gfui icon-gfui-toast-warn"></i>最大可购50,000份
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="part">
  <h2 class="part-title">常见简易带图标弹窗</h2>
  <div class="part-demo">
    <div class="part-dom-toast gf-center">
      <div class="gf-toast">
        <div class="gf-toast-content">
          <i class="icon-gfui icon-gfui-toast-warn"></i>确定将 <span>彭敢</span> 移除分组?
        </div>
        <div class="gf-toast-btns">
          <button class="second">取消</button>
          <button class="main">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="part">
  <h2 class="part-title">常见标题带单一内容、单一按钮弹窗</h2>
  <div class="part-demo">
    <div class="part-dom-toast gf-center">
      <div class="gf-toast">
        <div class="gf-toast-content">
          <h3><i class="icon-gfui icon-gfui-toast-succ"></i>恭喜您!</h3>
          资讯转载成功
        </div>
        <div class="gf-toast-btns">
          <button>确定</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="part">
  <h2 class="part-title">常见标题带单一内容弹窗</h2>
  <div class="part-demo">
    <div class="part-dom-toast gf-center">
      <div class="gf-toast">
        <div class="gf-toast-content">
          <h3><i class="icon-gfui icon-gfui-toast-succ"></i>恭喜您!</h3>
          资讯转载成功
        </div>
        <div class="gf-toast-btns">
          <button class="second">取消</button>
          <button class="main">查看效果</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="part">
  <h2 class="part-title">常见标题带多行内容弹窗</h2>
  <div class="part-demo">
    <div class="part-dom-toast gf-center">
      <div class="gf-toast">
        <div class="gf-toast-content">
          <h3><i class="icon-gfui icon-gfui-toast-warn"></i>涨跌包购买确认</h3>
          <h4>操作类型：每日涨跌宝</h4>
          <h4>购买产品：创业板指数20160218期看涨</h4>
          <h4>购买份额：10000份</h4>
        </div>
        <div class="gf-toast-btns">
          <button class="second">取消</button>
          <button class="main">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="part">
  <h2 class="part-title">简单输入框弹窗</h2>
  <div class="part-demo">
    <div class="part-dom-toast gf-center">
      <div class="gf-toast">
        <div class="gf-toast-content">
          <p>给您的组合取一个响亮的名字吧~</p>
          <input type="text"/>

        </div>
        <div class="gf-toast-btns">
          <button class="second">取消</button>
          <button class="main">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="part">
  <h2 class="part-title">多项输入框弹窗</h2>
  <div class="part-demo">
    <div class="part-dom-toast gf-center">
      <div class="gf-toast">
        <div class="gf-toast-content">
          <p>此功能需要登录广发通后才能使用请先登录</p>
          <input type="text" placeholder="请输入您的手机号码"/>
          <div class="flex">
            <div>
              <input type="text" placeholder="请输入验证码"/>
            </div>
            <button class="gf-btn gf-btn-main-s">重新获取(30s)</button>
          </div>

          <h5>
            <i class=" icon-gfui icon-login-error"></i>
            验证码错误，请重新输入！
          </h5>

        </div>
        <div class="gf-toast-btns">
          <button class="second">取消</button>
          <button class="main">确认</button>
        </div>
      </div>
    </div>
  </div>
</div>

