<div class="part">
  <h2 class="part-title">常见底部菜单</h2>
  <div class="part-demo">
    <div class="part-dom-dialog">
      <div class="gf-bottom-dialog">
        <a>删除</a>
        <a>清空全部记录</a>
        <button>取消</button>
      </div>
    </div>
  </div>
</div>
<div class="part">
  <h2 class="part-title">带标题的底部菜单</h2>
  <div class="part-demo">
    <div class="part-dom-dialog">
      <div class="gf-bottom-dialog">
        <div>请选择客户的电话拨打</div>
        <a>删除</a>
        <a>清空全部记录</a>
        <button>取消</button>
      </div>
    </div>
  </div>
</div>
<div class="part">
  <h2 class="part-title">带图标多选择的底部菜单</h2>
  <div class="part-demo">
    <div class="part-dom-dialog">
      <div class="gf-bottom-dialog">
        <div><i class="icon-gfui icon-gfui-del"></i>选择银行卡</div>
        <p><i class="icon-gfui icon-gfui-fav-active"></i>工商银行 <span>(尾号3254)</span></p>
        <p><i class="icon-gfui icon-gfui-fav-active"></i>工商银行 <span>(尾号3254)</span></p>
        <p><i class="icon-gfui icon-gfui-fav-active"></i>工商银行 <span>(尾号3254)</span></p>
        <p><i class="icon-gfui icon-gfui-fav-active"></i>工商银行 <span>(尾号3254)</span></p>
      </div>
    </div>
  </div>
</div>
