<div class="part">
    <h2 class="part-title">资讯页面文字(超大)</h2>
    <div class="part-demo">
        <div class="part-tags">
            <span class="example-tags gf-border-radius">Example</span>
        </div>
        <div class="part-dom">
            <div class="gf-font-big-title">资讯文章大标题</div>
            <div class="gf-font-big-content">资讯内容</div>
            <div class="gf-font-big-assist">资讯辅助</div>
        </div>
    </div>
</div>

<div class="part">
    <h2 class="part-title">正文文字(18px)</h2>
    <div class="part-demo">
        <div class="part-tags">
            <span class="example-tags gf-border-radius">Example</span>
        </div>
        <div class="part-dom">
            <div class="gf-font-mid-title">标题文字</div>
            <div class="gf-font-mid-assist">辅助文字</div>
        </div>
    </div>
</div>
<div class="part">
    <h2 class="part-title">表格文字(16px)</h2>
    <div class="part-demo">
        <div class="part-tags">
            <span class="example-tags gf-border-radius">Example</span>
        </div>
        <div class="part-dom">
            <div class="gf-font-small-title">表格 列表名称</div>
            <div class="gf-font-small-content">表格 列表正文</div>
            <div class="gf-font-small-assist">表格 列表辅助</div>
        </div>
    </div>
</div>
<div class="part">
    <h2 class="part-title">标题文字(16px)</h2>
    <div class="part-demo">
        <div class="part-tags">
            <span class="example-tags gf-border-radius">Example</span>
        </div>
        <div class="part-dom">
            <div class="gf-font-tab-title">TAB标题</div>
            <div class="gf-font-module-title">模块标题</div>
            <div class="gf-font-img-title">底部导航 带图片的tab标题</div>
        </div>
    </div>
</div>
<div class="part">
    <h2 class="part-title">重要文字</h2>
    <div class="part-demo">
        <div class="part-tags">
            <span class="example-tags gf-border-radius">Example</span>
        </div>
        <div class="part-dom">
            <div class="gf-font-danger">重要文字</div>
            <div class="gf-font-mid-danger">重要中等文字</div>
        </div>
    </div>
</div>
<div class="part">
    <h2 class="part-title">提示</h2>
    <div class="part-demo">
        <div class="part-tags">
            <span class="example-tags gf-border-radius">Example</span>
        </div>
        <div class="part-dom">
            <div class="gf-font-fail">失败提示</div>
            <div class="gf-font-success">成功提示</div>
        </div>
    </div>
</div>

 <!--div.-->
        <!--<div class="part-code">-->
            <!--<code class="code-style">-->
                <!--<span><<span class="tag-title">div</span><span class="tag-attri"> class= </span><span class="tag-value">"gf-font-big-title"</span>></span>-->
                      <!--<span><span class="tag-value">资讯文章大标题</span>-->
                <!--<<span class="tag-title">/div</span>></span>-->
                <!--<span><<span class="tag-title">div</span><span class="tag-attri"> class= </span><span class="tag-value">"gf-font-big-content"</span>></span>-->
                      <!--<span><span class="tag-value">资讯内容</span>-->
                <!--<<span class="tag-title">/div</span>></span>-->
                <!--<span><<span class="tag-title">div</span><span class="tag-attri"> class= </span><span class="tag-value">"gf-font-big-assist"</span>></span>-->
                      <!--<span><span class="tag-value">资讯辅助</span>-->
                <!--<<span class="tag-title">/div</span>></span>-->
            <!--</code>-->
        <!--</div>-->



