<div class="slide-wrap" [style.width]="slideWidth" [(style.transform)]="transform" [style.transition]="transition">
  <div *ngFor="#slide of slides" class="slide">
    <a [href]="slide.href"><img [src]="slide.src" alt="slide.alt"></a>
  </div>
  <div class="slide" *ngIf="slides.length > 1">
    <a [href]="slides[0].href"><img [src]="slides[0].src" alt="slides[0].alt"></a>
  </div>
</div>
<div class="swipe-pagination">
  <span class="swipe-pagination-bullet" [class.active]="curIndex == slide.index" *ngFor="#slide of slides"></span>
</div>

