<md-sidenav-layout class="demo-root" fullscreen>
  <md-toolbar color="primary">
    <div class="demo-toolbar">
      <h1>GFUI</h1>
    </div>
  </md-toolbar>
  <md-tab-group class="demo-tab-group">
    <md-tab>
      <template md-tab-label><a>快速开始</a></template>
      <template md-tab-content></template>
    </md-tab>
    <md-tab>
      <template md-tab-label><a>基础组件</a></template>
      <template md-tab-content></template>
    </md-tab>
    <md-tab>
      <template md-tab-label><a>NG2组件</a></template>
      <template md-tab-content></template>
    </md-tab>
    <md-tab>
      <template md-tab-label><a>Demo</a></template>
      <template md-tab-content>
        <iframe src="/demo/base" frameBorder="0"></iframe>
      </template>
    </md-tab>
    <md-tab>
      <template md-tab-label>Github</template>
      <template md-tab-content>
        Click <a href="https://github.com/gf-rd/gf-ui" md-button color="primary">here</a>.
      </template>
    </md-tab>
  </md-tab-group>
</md-sidenav-layout>
