.icon-global, :host > ul li.active:after, :host .ui-list-horizon li.active:after {
  background-image: url("/assets/images/sprite-global.png"); }

@media (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 1.9791666666666667), (min-resolution: 190dpi) {
  .icon-global, :host > ul li.active:after, :host .ui-list-horizon li.active:after {
    background-image: url("/assets/images/sprite-global@2x.png");
    -webkit-background-size: 92px 86px;
            background-size: 92px 86px; } }

.icon-global-arrow-right-b {
  background-position: -24px -71px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 10px;
  height: 15px; }

.icon-global-arrow-right {
  background-position: -14px -71px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 10px;
  height: 15px; }

.icon-global-back {
  background-position: 0px -51px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 13px;
  height: 20px; }

.icon-global-book-gray {
  background-position: -44px -29px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 20px; }

.icon-global-bubble-gray {
  background-position: -22px -29px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 22px;
  height: 20px; }

.icon-global-check-hook {
  background-position: -13px -51px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 17px;
  height: 14px; }

.icon-global-check {
  background-position: -72px -23px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 17px;
  height: 17px; }

.icon-global-coins-gray {
  background-position: -72px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 23px; }

.icon-global-coins {
  background-position: 0px -71px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 14px;
  height: 15px; }

.icon-global-refresh-gray {
  background-position: -51px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 25px; }

.icon-global-stream {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 28px;
  height: 29px; }

.icon-global-user-gray {
  background-position: 0px -29px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 22px;
  height: 22px; }

.icon-global-user {
  background-position: -28px 0px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 23px;
  height: 24px; }

:host > ul {
  position: absolute; }
  :host > ul li.active {
    color: #217de4 !important; }
    :host > ul li.active:after {
      content: '';
      background-position: -13px -51px;
      background-repeat: no-repeat;
      overflow: hidden;
      display: block;
      width: 17px;
      height: 14px;
      display: inline-block;
      position: absolute;
      right: .15rem; }

:host .ui-list-horizon {
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .15rem 0; }
  :host .ui-list-horizon li {
    width: 1.03rem;
    height: .35rem;
    line-height: .35rem;
    text-align: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0;
    margin-left: .15rem;
    margin-bottom: .15rem;
    border: solid 1px #cccccc;
    -webkit-border-radius: .05rem;
            border-radius: .05rem; }
    :host .ui-list-horizon li.active {
      border-color: #0061b3; }
      :host .ui-list-horizon li.active:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: -.04rem;
        top: -.02rem;
        background-position: -72px -23px;
        background-repeat: no-repeat;
        overflow: hidden;
        display: block;
        width: 17px;
        height: 17px; }

/*# sourceMappingURL=menu.component.css.map */
